.nasa-image{
    background-image:url(../img/nasa-bg.png); 
    background-repeat: repeat;
    /*  height:40vh; */ 
    display:flex;
     justify-content:flex-end;
    align-items: flex-end;
    }
    /* .nasa-image img{
        width:100%;
        height:auto;
    } */
.nasa-image ul{
    display:flex;
  justify-content: space-evenly;
   width:30%;
   list-style-type: none;
}
.nasa-image ul li a {
    color:rgb(156, 154, 154);
    text-decoration: none;
   }
.nasa-image ul li i{
    font-size:1.5rem;
}
.nasa-image ul img{
    width:1.2rem;
}