.nasa-official{
    display: flex;
       align-items: center;     
}
.nasa-official div{
    display: flex;
     width:80%;
  /*   height:100%; */
}
.nasa-official div span{
    align-self: center;
}
.nasa-official img{
    width:3rem;
}
.nasa-official button{
    background:red ;
    width:10rem;
    height:3rem;
    color:white;
    border-radius: 5%;
    border:none;
}
.nasa-official button:active{
    background-color: seagreen;
    cursor: pointer;
}
