.nasa-official{
    display: flex;
    justify-content: center;
  
    align-items: center;     
}
.nasa-official div {
    display: flex; 
     
}
.nasa-official div span{
    align-self: center;
  
}
.nasa-official img{
    width:5rem;
}
.nasa-official button{
    
    background:red ;
    width:10rem;
    height:3rem;
    color:white;
    border-radius: 5%;
    border:none;
}
.nasa-official button:active{
    background-color: seagreen;
    cursor: pointer;
}
.control-spacing{
    width:60rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}