.aside-bar {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
align-items: left;
margin-left:10px;
}
.aside-bar ul li{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
align-items: left;
padding:0.25rem;
}

.aside-bar ul li a{
    color:black;
    font-size: large;
    text-decoration: none;
    
}
.aside-bar ul li i{
    margin-right:1rem;
}

footer p a{
    text-decoration: none;
    color:black;
    margin-right: 1rem;
    
  }
  footer p{
    line-height: 1.7rem;
  }
  footer div:last-child{
      margin-top:5rem;
      margin-right:2rem;
      padding:0.5rem;
  }