.nasa-image{
    background-image:url(../img/NASA-banner-1800x622-1.jpg); 
    background-repeat: no-repeat;
     display:flex;
     justify-content:center;
    align-items: flex-end;
    }
    .nasa-image img{
           width:100%;
    }
.nasa-image ul{
    display:flex;
  justify-content: space-evenly;
   /* width:30%; */
   list-style-type: none;
  
}
.nasa-image ul li a {
   color:rgb(156, 154, 154);
    text-decoration: none;
   }
.nasa-image ul li i{
    font-size:1.5rem;
    padding:0.5rem;
    color:white;
}
.nasa-image ul img{
    width:1.2rem;
}