body{
    display:grid;
    grid-template-columns: 1rem 50rem ;
    grid-template-rows: 2rem 8rem 20rem;
    grid-template-areas: 
    " aside nav "
    "aside header"
    "aside main";
}
nav{
grid-area:nav;
background-color: bisque;
}
header{
    grid-area:header;
    background-color: pink;
}
main{
    grid-area:main;
    }
.aside-bar{
    grid-area:aside;
background-color:lightblue;
}