body{
    display:grid;
    grid-template-columns: 3.5rem auto;
    grid-template-rows: 2.7rem auto;
    grid-template-areas: 
    " aside nav"
    "aside main";
}
nav{
grid-area:nav;
background-color: bisque;
}
main{
    grid-area:main;
    background-color: pink;
}
.aside-bar{
    grid-area:aside;
background-color:lightblue;
}