header{
    grid-area: header;
    background-color: aqua;
    display:grid;
    grid-template-rows: 2fr auto 4fr 2fr;
  grid-template-columns: 5fr auto 5fr;
  /* grid-gap: 5em; */
  grid-template-areas: 
  "nav nav nav"
  "poster poster poster"
  "official official official"
  "menu-bar menu-bar menu-bar";
}
header nav{
    border:10px solid orange;
    grid-area: nav;
}
.nasa-image{
    border:10px solid orange;
    grid-area: poster;
}
.nasa-official{
    border:10px solid orange;
    grid-area: official;
}
.menu-bar{
    border:10px solid orange;
    grid-area: menu-bar;
}