header{
    grid-area: header;
     display:grid;
    grid-template-rows: 2.5rem 13rem 4rem 2rem;
  grid-template-columns: 5fr auto 5fr;
  /* grid-gap: 5em; */
  grid-template-areas: 
  "nav nav nav"
  "poster poster poster"
  "official official official"
  "menu-bar menu-bar menu-bar";
}
.nasa-image{
       grid-area: poster;
}
.nasa-official{
      grid-area: official;
}
.menu-bar{
       grid-area: menu-bar;
}