main{
    display:grid;
    grid-template-rows: 2rem 20rem 20rem;
    grid-template-columns: 4rem repeat(6,5rem) 4rem;
    grid-template-areas: 
    ". uploads uploads uploads uploads uploads . "
    ". first first first first first first ."
    ". second second second second second second .";
}
.uploads{
    grid-area: uploads;
    /* background-color: blueviolet; */
}
.row1-upload-videos{
grid-area:first;
/* background-color: green; */
}
.row2-upload-videos{
    grid-area:second;
    /* background-color: yellow; */
}