main{
   
    width:70%;
        display:grid;
    grid-template-rows: 1.5rem 13rem 10rem;
    grid-template-columns: repeat(6,12rem) ;
    grid-template-areas: 
    "uploads  uploads uploads uploads uploads uploads"
    "first first first first first first"
    "second second second second second";
   
}
.uploads{
    grid-area: uploads;
    /* background-color: blueviolet; */
}
.row1-upload-videos{
grid-area:first;
/* background-color: green; */
}
.row2-upload-videos{
    grid-area:second;
    /* background-color: yellow; */
}


