.menu-bar{
  width:100%;
  height:100%;
}
.menu-bar ul{
      width:80%; 
      display:flex;
    justify-content:space-evenly;
    list-style-type: none;
}
.menu-bar ul li{
      display:flex;
    justify-content:space-evenly;
   transition:0.5s;
} 
.menu-bar ul li a{
  color:black;
font-size: 1.5rem;
  text-decoration: none; 
}
.menu-bar ul li a:hover{
    border-bottom: 2px solid grey;
}