@media only screen and (max-width:600px){
    /* iphone 6/7/8 plus --- width:415px 736:height*/
    body{
        width:414px;
        height:736px;
        border:5px solid red;
    }
    /* side bar */
.aside-bar{
    width:15px;
}
/* navigation header */
nav{
    width:360px;
    height:40px;
    border:1px solid black;
display:flex;
justify-content: space-evenly;
align-items: center;
}
/* youtube icon */
nav img{
    width:35px;
    height:10px;    
}
/* search text, button, microphone */
form input{
      width:70px;
}
/* icons of avatar, video, app */
.end-nav {
/* border:2px solid red; */
display:flex;
justify-content: space-evenly;
align-items: center;
width:150px;
}
/* avathar image */
.end-nav img{
/* border:2px solid orchid; */
border-radius: 70%;
}

/* main body */

/* main-  grid layout*/
header{
    display:grid;
    grid-template-rows: 2rem 2rem 2rem;
    grid-template-areas: 
    "banner"
    "official"
    "menu";
}

.nasa-image{
    grid-area: banner;
}
.nasa-official{
    grid-area: official;
}
.menu-bar{
    grid-area: menu;
}
/* main grid for videos upload */
main{
    display:grid;
    grid-template-rows: 3rem 15rem 15rem;
    grid-template-areas: 
    "uploads"
    "first"
    "second";
}
.upload-title{
    grid-area: uploads;
}
.row1-upload-videos{
    grid-area: first;
}
.row2-upload-videos{
    grid-area: second;
}
/* banner image */
.nasa-image{
    width:360px; 
    height:50px;
    display:flex;
    justify-content: center;    
    align-items: center;
}
.nasa-image img{
    border:3px solid white;
    width:360px; 
    height:50px; 
  }
/* .nasa-image ul{
    width:100px;
    border:5px solid red;
    display:flex;
    justify-content: space-evenly;    
  } */

  .nasa-image ul{
    display:flex;
  justify-content: space-evenly;
   /* width:30%; */
   list-style-type: none;
}
.nasa-image ul li a {
    color:rgb(156, 154, 154);
    text-decoration: none;
   }
.nasa-image ul li i{
    font-size:1.5rem;
}
.nasa-image ul img{
    width:1.2rem;
}
/* nasa official */
.nasa-official {
    margin-top:11px;
    /* border:1px solid black; */
    width:400px;
    height:40px;
display:flex;
justify-content: flex-start;
align-items: center;
}
.nasa-official div {
    display: flex; 
     justify-content: center;
     align-items: center;
}
.nasa-official img{
    width:30px;
    height:20px;
}
.nasa-official button{
    
    background:red ;
    width:5rem;
    height:1rem;
    color:white;
    border-radius: 5%;
    border:none;
    margin-left:40px;
}
/* menu-bar */
.menu-bar{
  margin-top:10px;
 width:400px;
}
.menu-bar ul{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
}
.menu-bar ul li a{
color:black;
text-decoration: none;
font-size:9px ;
}
/* uploads -video */
/* .uploads-title{
    display:flex;
} */
.uploads{
    width:360px;
    display:flex;
    font-size:10px;
    justify-content:space-around;
}
.row1-upload-videos{
   
    display:flex;
    width:300px;
    height:150px;
}
.row1-upload-videos > .video {
   /*  border:1px solid orchid; */
    display:flex;
   flex-direction: column;  
    width:300px ;
    height:100px;
    margin:3px;
 }
 .row1-upload-videos > .video > img{
   margin-left:5px;
width:50px;
height:60px;
 }

  .img-text{
    /*  border:2px solid blue; */
     width:50px;
     /* height:80px;  */
     display:flex;
 } 
  .img-text span{
     display:flex;
     align-items: center;
 } 
 .video div a{
    text-decoration: none;
    font-size: 8px;
    
    color:black;
}
.info-video{
    display:flex;
    align-items: center;
}
.info-video span{
    color:grey;
    font-size: 8px;
} 
/* row2 videos */
/* video container */
.row2-upload-videos{
   
    display:flex;
    width:300px;
    height:150px;
}
.row2-upload-videos > .video {
   /*  border:1px solid orchid; */
    display:flex;
   flex-direction: column;  
    width:300px ;
    height:100px;
    margin:3px;
 }
 .row2-upload-videos > .video > img{
   margin-left:5px;
width:50px;
height:60px;
 }

}