@media only screen and (max-width:600px){
    /* iphone 6/7/8 plus --- width:415px 736:height*/
    body{
        width:414px;
        height:736px;
        border:5px solid red;
    }
    /* side bar */
.aside-bar{
    width:15px;
}
/* navigation header */
nav{
    width:360px;
    height:40px;
    border:1px solid black;
display:flex;
justify-content: space-evenly;
align-items: center;
}
/* youtube icon */
nav img{
    width:60px;
    height:30px;    
}
/* search text, button, microphone */
form input{
      width:80px;
}
/* icons of avatar, video, app */
.end-nav {
/* border:2px solid red; */
display:flex;
justify-content: space-evenly;
align-items: center;
width:150px;
}
/* avathar image */
.end-nav img{
/* border:2px solid orchid; */
border-radius: 70%;
}

/* main body */

/* main-  grid layout*/
header{
    display:grid;
    grid-template-rows: 2rem 2rem 2rem;
    grid-template-areas: 
    "banner"
    "official"
    "menu";
}

.nasa-image{
    grid-area: banner;
}
.nasa-official{
    grid-area: official;
}
.menu-bar{
    grid-area: menu;
}
main{
    display:grid;
    grid-template-rows: 3rem 15rem 15rem;
    grid-template-areas: 
    "uploads"
    "first"
    "second";
}
.upload-title{
    grid-area: uploads;
}
.row1-upload-videos{
    grid-area: first;
}
.row2-upload-videos{
    grid-area: second;
}
.nasa-image{
    width:360px; 
    height:50px;
    
    display:flex;
    justify-content: center;    
    align-items: center;
}
.nasa-image img{
    width:410px; 
    height:50px; 
  }
/* .nasa-image ul{
    width:100px;
    border:5px solid red;
    display:flex;
    justify-content: space-evenly;    
  } */

  .nasa-image ul{
    display:flex;
  justify-content: space-evenly;
   /* width:30%; */
   list-style-type: none;
}
.nasa-image ul li a {
    color:rgb(156, 154, 154);
    text-decoration: none;
   }
.nasa-image ul li i{
    font-size:1.5rem;
}
.nasa-image ul img{
    width:1.2rem;
}
/* nasa official */
.nasa-official {
    margin-top:13px;
    border:1px solid black;
    width:400px;
    height:40px;
display:flex;
justify-content: flex-start;
align-items: center;
}
.nasa-official div {
    display: flex; 
     justify-content: center;
     align-items: center;
}
.nasa-official img{
    width:30px;
    height:20px;
}
.nasa-official button{
    
    background:red ;
    width:5rem;
    height:1rem;
    color:white;
    border-radius: 5%;
    border:none;
}

}