
@import url(./grid.css);
@import url(./header-grid.css);
@import url(./nav.css);
@import url(./2ndrow-header.css);
@import url(./3rdrow-header.css);
@import url(./menubar.css);
@import url(./main.css);
@import url(./video.css);
@import url(./aside.css);
*{
    font-size: 16px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
header{
    width:95vw;
    height:70vh;
}