

.uploads{
    width:80vw;
    height:5vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.video {
  
    margin-top:20px;
}

.row1-upload-videos{
     border:1px solid orchid;
    width:80vw;
    display:flex;
  }
.uploads::before{
    border:2px solid red;
    content:"";
    width:30rem;
}
.row1-upload-videos::before{
    content:"";
    width:30rem;
}
.row2-upload-videos{
    display:flex;
   /*  justify-content: space-between;
    align-items: center;  */
    width:80vw;
}
.row2-upload-videos::before{
    content:"";
    width:30vw;
}

.video{
    margin:5px;
}
 .video div a{
     text-decoration: none;
     font-weight: bold;
     color:black;
 }
 .info-video span{
     color:grey;
     
 } 
 .info-video{
     display: flex;
   justify-content:space-between;
 }
 .info-video :last-child{
         text-align: end;
 }