

.uploads{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:5vh;
    font-weight: bold;
}

.uploads div{

    width:50vh;
 
}
.uploads div:first-child{
    align-items: flex-start;
}
.video {
  
    margin-top:20px;
}

.row1-upload-videos{
     border:1px solid orchid;
   width:100vw; 
    display:flex;
    
  }

.row1-upload-videos::before{
    content:"";
    width:10vw;
}
.row2-upload-videos{
    display:flex;
   /*  justify-content: space-between;
    align-items: center;  */
    width:100vw;
}
.row2-upload-videos::before{
    content:"";
    width:10vw;
}

.video{
    margin:5px;
}
 .video div a{
     text-decoration: none;
     font-weight: bold;
     color:black;
 }
 .info-video span{
     color:grey;
     
 } 
 .info-video{
     display: flex;
   justify-content:space-between;
 }
 .info-video :last-child{
         text-align: end;
 }